ActiveTextureManagement/textureCache/
Kerbaltek
DarkMultiPlayer/Cache
DarkMultiPlayer/Flags
ModuleManager.ConfigCache
*.ConfigCache
ModuleManager.ConfigSHA
ModuleManager.Physics
ModuleManager.TechTree
toolbar-settings.dat
*.log