ActiveTextureManagement/textureCache/
Kerbaltek
DarkMultiPlayer/Cache
DarkMultiPlayer/Flags
ModuleManager.ConfigCache
*.ConfigCache
ModuleManager.ConfigSHA
ModuleManager.Physics
ModuleManager.TechTree
toolbar-settings.dat
*.log
/DarkMultiPlayer/Plugins/Data/*.xml
/MechJeb2/Plugins/PluginData
/DarkMultiPlayer/Plugins/Data/servers.xml
ModuleManager.ConfigCache
ModuleManager.ConfigCache
*.log
DarkMultiPlayer/Plugins/Data/DMPModControl.txt
ModuleManager.ConfigCache
ModuleManager.ConfigSHA
RCSBuildAid/Plugins/PluginData/settings.cfg
TriggerTech/KSPAlternateResourcePanel/settings.cfg
